.css-wx7wi4 {
  width: 24px !important;
  min-width: 24px !important;
  color: #1f3f49;
}

.css-honxw6,
.css-jn69v9 {
  height: 6px !important;
  width: 6px !important;
}

.css-1cuxlhl {
  height: 100%;
  display: flex;
  align-items: center;
}
